body {
    background-color: rgb(25, 25, 25);
    font-weight: bold;
    color: #fff;
    font-family: 'Arial', serif;
}

.title {
    font-size: 30px;
}

.result {
    font-size: 25px;
}

.score {
    margin-top: 30px;
}

.game-btn {
    margin-right: 10px;
    margin-bottom: 30px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 3px solid white;
    background-color: transparent;
    cursor: pointer;
}

img {
    width: 50px;
    height: 50px;
}

.reset-btn, .auto-play-btn {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.reset-confirm-button {
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
}

.reset-confirm-button {
    margin-left: 10px;
}